$primaryColor: rgb(66, 190, 75);

$borderColor: rgb(228, 231, 237);

// layout
$sideBarWidth: 200px;

$tagHeight: 35px;

$navHeight: 60px;

// sidebar
$sideBarBkColor:rgb(35, 50, 67);
// $sideBarBkColor:rgb(177, 179, 178);
